<div class="container shadow-lg my-5">
    <div class="row">
        <div class="ac-type text-center">
            <h4>{{ acType }}</h4>
        </div>
        <div class="ac-number text-center">
            <h3>{{ acNumber }}</h3>
        </div>
        <hr class="my-1" />
        <div class="row my-5">
            <div class="ac-name col bd text-center">
                <h3>{{ acName }}</h3>
            </div>
            <div class="interest-rate col bd text-center">
                <h3>{{ acInterest | percent: "1.1-2" }}</h3>
            </div>
            <div class="ac-doc col text-center bd">
                <h3>{{ currDate | date: "dd/MM/YYYY" }}</h3>
            </div>
            <div class="ac-balance col bd text-center">
                <h3>{{ acBalance | currency: "INR" }}</h3>
            </div>
        </div>
    </div>
</div>

<div class="container shadow-lg py-2">
    <form (ngSubmit)="onSubmit(acForm)" #acForm="ngForm">
        <div class="form-group">
            <label for="ac-type">Account Type:</label>
            <select class="form-control" id="ac-type" name="type" required [ngModel]="defaultOpt.value">
                <option #defaultOpt value="Savings">Savings</option>
                <option value="Current">Current</option>
                <option value="Fixed Deposit">Fixed Deposit</option>
            </select>
        </div>
        <div class="form-group">
            <label for="interest">Interest Rate</label>
            <input class="form-control" type="text" id="interest" name="interest" required ngModel />
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" required ngModel />
        </div>
        <div class="form-group my-3 d-flex">
            <label for="ac-number">Account Number:</label>
            <h4 class="align-self-center mx-3" id="ac-number">{{ acNumber }}</h4>
        </div>
        <div class="form-group my-3 d-flex">
            <label for="doc">Date of Creation:</label>
            <h4 class="align-self-center mx-3" id="doc">
                {{ currDate | date: "dd/MM/YYYY" }}
            </h4>
        </div>
        <div class="form-group">
            <label for="ac-balance">Balance: </label>
            <input class="form-control" type="number" id="ac-balance" name="balance" required ngModel />
        </div>

        <button class="btn btn-success my-3" type="submit">Add</button>
    </form>
</div>