<div class="container">
  <div
    class="d-flex addBtn-container"
    style="justify-content: center; margin: 50px 0 30px 150px"
  >
    <button
      mat-raised-button
      color="buttonSuccess"
      type="button"
      [routerLink]="['/accounts/add-account']"
      routerLinkActive="active"
    >
      Add Account
    </button>
  </div>

  <igx-grid
    #grid1
    class="grid1"
    [autoGenerate]="false"
    [data]="accountData"
    (columnInit)="onColumnInit($event)"
    [allowFiltering]="true"
    [allowAdvancedFiltering]="true"
    [filterMode]="'excelStyleFilter'"
  >
    <igx-paginator [perPage]="5"> </igx-paginator>
    <igx-column
      *ngFor="let element of ObjectKeys(displayedColumns)"
      field="{{ element }}"
    >
      <ng-template igxHeader let-column>
        {{ column.field }}
      </ng-template>
    </igx-column>
  </igx-grid>
</div>
