<div class="container">
  <div
    class="d-flex addBtn-container"
    style="justify-content: center; margin: 50px 0 30px 150px"
  >
    <button
      mat-raised-button
      color="buttonSuccess"
      type="button"
      [routerLink]="['/accounts/add-account']"
      routerLinkActive="active"
    >
      Add Account
    </button>
  </div>
  <div class="table-container">
    <app-table-wrapper
      [dataSource]="accountData"
      [displayedColumns]="displayedColumns"
      (editItem)="onEdit($event)"
      (deleteItem)="onDelete($event)"
      (depositItem)="depositDialog($event)"
      (withdrawItem)="withdrawDialog($event)"
    ></app-table-wrapper>
  </div>
</div>
