<div class="container">
  <h1 mat-dialog-title style="margin-left: 23px">
    <span style="font-weight: 400">Hey, </span>{{ acName }}
  </h1>
  <div mat-dialog-content class="text-center">
    Kindly choose whether you want to Add the amount or Withdraw the amount from
    your account
  </div>
  <div class="flexBtnContainer" mat-dialog-actions>
    <button
      class="btn btn-success"
      mat-raised-button
      color="buttonSuccess"
      [mat-dialog-close]="addedAmount"
      (click)="depositDialog()"
    >
      Deposit
    </button>
    <button
      mat-raised-button
      color="warn"
      [mat-dialog-close]
      (click)="withdrawDialog()"
    >
      Withdraw
    </button>
  </div>
</div>
