// .container {
//   .table-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//   }
// }

.faEdit,
.faTrash,
.FaExchange {
  border: none;
  background: transparent;
  cursor: pointer;
}

.faEdit:hover,
.faTrash:hover,
.FaExchange:hover {
  transform: scale(1.2);
}

img {
  width: 22px;
  height: 22px;
}

.mat-table {
  width: 1000px;
  text-align: center;
  border-radius: 10px !important;

  th {
    text-align: center;
  }
}
.mat-buttonSuccess {
  background-color: #00b74a;
  color: #fff;
}
