<div class="container">
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Account Type</th>
                    <th>Interest Rate</th>
                    <th>Name</th>
                    <th>Ac Number</th>
                    <th>DOC</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let account of accountData">
                    <tr>
                        <td>{{account?.acType}}</td>
                        <td>{{account?.acInterest | percent: '1.1-2'}}</td>
                        <td>{{account?.acName}}</td>
                        <td>{{account?.acNumber}}</td>
                        <td>{{account?.acDate | date : 'dd/MM/YYYY'}}</td>
                        <td>{{account?.acBalance | currency:'INR'}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <button class="btn btn-success mx-1" type="button">Add</button>
        <button class="btn btn-warning mx-1" type="button">Update</button>
        <button class="btn btn-danger mx-1" type="button">Delete</button>
    </div>
</div>